 /* Editor styles */
body {
    margin: 0;
}
p {
    line-height: 26px;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(255, 255, 255);
    width: 100%;
  }
  .input_title {
    display: block;
    width: 100%;
}
  input#_title {
    border: none;
    outline: none;
    color: #000;
    font-size: 14px;
    padding-left: 10px;
}
.editor_icon {
    padding-right: 10px;
}
.input_title {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px !important;
}
/* Style the links inside the navigation bar */
.toolbar {
    display: flex;
    align-self: flex-start;
    padding: 10px 20px;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 98%;
}
.topnav a {
    cursor: pointer;
    color: #2f2f2f;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.topnav a svg{
    vertical-align: bottom;
    width: 16px;
    max-height: 16px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(228, 228, 228);
    color: black;
}
#documentStatus {
    font-size: 14px;
    color: #808080;
    padding: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.document-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-grow: 1;
    max-width: 100%;
    margin: 0 auto;
}
.editor-container {
    border: 1px solid hsl( 0, 0%, 80% );
    min-height: calc( 100vh - 80px );
    width: 100%;
    overflow: auto;
    background: hsl( 0, 0%, 95% );
    border-right: 0;
    box-sizing: border-box;
    position: relative;
}

#toolbar-container {
    width: 100%;
}
.minimap-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: calc( 100vh - 80px );
    width: 100%;
    position: relative;
    top: -1px;
}

.editor-container {
    width: 100%;
    border-right: 0;
    background: hsl( 0, 0%, 95% );
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}

.minimap-container {
    width: 120px;
    flex: 0 0 auto;
    border: 1px solid var(--ck-color-toolbar-border);
    position: relative;
    overflow: hidden;
    max-height: 100%;
}

#editor {
    width: calc( 210mm + 2px );
    min-height: calc( 210mm + 2px );
    height: auto;
    padding: 2cm 1.2cm;
	margin: 2.5rem auto;
    box-sizing: border-box;
    background: hsl( 0, 0%, 100% );
    border: 1px solid hsl( 0, 0%, 88% );
    box-shadow: 0 2px 8px hsla( 0, 0%, 0%, .08 );
    overflow: hidden;
    font-family: 'Sarabun';
}
.ck.ck-toolbar {
    background-color: #fff;
}

#openDialog {
    position: fixed;
    z-index: 999;
    border: 1px solid #ccc;
    top: 2%;
    padding: 20px 20px 20px 0;
    background-color: #fff;
    width: 90%;
    height: 88%;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.10);
    display: none;
}

#openDialog h3 {
    margin-top: 10px;
    padding-inline: 40px;
    color: #565656;
}
#openDialog ul {
    height: calc( 100vh - 150px );
    overflow-y: auto;
}
#openDialog ul li {
    list-style: none;
    padding-inline: 10px;
    line-height: 34px;
    border-bottom: 1px solid #e6e5e5;
}

#openDialog ul li a {
    text-decoration: none;
    color: rgb(59, 59, 59);
}
#openDialog ul li:hover {
    background-color: #eee;
}
a.close_button {
    position: absolute;
    top: 3%;
    right: 2%;
}
a.close_button i {
    color: #aaa;
}

a.close_button:hover > i {
    color: #000;
}