
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.edoc-form-border {
  border-top: 8px solid seagreen !important;
}

.status-circle {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  &.status-grey {
    background-color: grey;

  }
  &.status-yellow {
    background-color: yellow;
    
  }
  &.status-red {
    background-color: red;
    
  }
  &.status-green {
    background-color: green;
    
  }
}

.bg-primary,
.edoc-bg-primary {
  background-color: $color-primary
}
.bg-secondary,
.edoc-bg-primary {
  background-color: $color-secondary
}
.dropdown-toggle::after{
  color:blue;
}

.btn.edoc-btn-primary.inverse {
  color: $color-primary;
  background-color: #fff;
  border: 2px solid $color-primary;
  &:hover{
    color: $color-primary !important;
    // background-color: $color-primary;
    // opacity: 1;

  }
}

.edoc-btn-primary {
  color: #fff;
  background-color: $color-primary;
  border: 2px solid $color-primary !important;
  transition: 300ms !important;
  &:hover{
    opacity: 0.7;
  }
} 

.color-primary {
  color: $color-primary
}
.color-secondary {
  color: $color-secondary
}

.border-top-primary {
  border-top: 6px solid $color-primary !important
}

.border-primary {
  border: 2px solid $color-primary !important

}

.icon-link {
  font-size: 1.5em;
  &:hover {
    text-decoration: none;

  }
}

span.red-star {
  &::after{
    color: red;
    content: "\*";

  }
}

a.edoc-nav-link {
  display: block;
  padding: .5rem 1rem;
  color: #8C8C8C !important;
  text-decoration: none;
  background-color: transparent;

 
  &:hover{
    text-decoration: none;
    color: $color-secondary !important;
  }
  
  &.active {
    color: $color-secondary !important;
    font-weight: bold;
    border-bottom: 4px solid $color-secondary;
  }
}

.logo {
  justify-content: center;
  img {
    max-width: 100%;
    // height: 30px;
  }
  span {
    color: $color-primary;
    font-weight: bold;
  }
}

.nav-wrapper {
  // border-bottom: 1px solid  ;
  box-shadow: 0px 2px 0.5px 0px #E3E3E3;
}

.dropdown-toggle::after{
  color:$color-primary;
}

tr.tr-row {
  margin: 0;
}

.input-group {
  &>.fa{
  }
}
