@import "~bootstrap/scss/bootstrap";

img.book-stack {
  // width: 360px;
  width: 360px;
  // max-width: 100%;
  position: absolute;
  margin-left: -30%;
  @media (max-width: 1200px) { 
    // position: relative;
    // margin: auto;
    margin-left: -60%;
  }
  @media (max-width: 991.98px) {
  // position: relative;
    // margin: auto;
    // margin-left: -50%;
    display: none;
  }
}